<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Footer</title>
</head>
<body>
    <footer data-th-fragment="footer">
        <div class="container">
            <span class="text-muted">Copyright 2017 dyq. All Rights Reserved.</span>
        </div>

        <!-- JavaScript -->
        <script src="/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <!--bootstrap-->
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </footer>
</body>
</html>