<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="云智教育学习平台">
    <meta name="author" content="dyq">
    <!--favicon图标-->
    <link rel="icon" href="/favicon.ico">
    <!--bootstrap-->
    <link type="text/css" src="/bootstrap/css/bootstrap.min.css" />
    <title>云智学习</title>
</head>
<body>
    <!--header-->
    <div th:replace="~{fragments/header::header}"></div>
    <!--content-->
    <main role="main" class="container">
        content
    </main>
    <!--footer-->
    <div th:replace="~{/fragments/footer::footer}"></div>
</body>
</html>